.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 20vh;
  background-color: #e4f0d4;
}

.container-footer-text {
  height: 3.5rem;
}

.footer-text {
  padding-left: 6rem;
  font-family: "Inter";
  color: #00000078;
  font-weight: 700;
  font-size: 1rem;
}

.divider {
  height: 2rem;
  background-color: #4aab28;
}
