@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* colors */
:root {
  --primary-green: #4aab28;
  --secondary-green: rgba(113, 182, 25, 0.28);
  --background-color: #e4f0d4;
  --font-sm: 1rem;
  --font-md: 1.2rem;
  --font-lg: 1.4rem;
  --regular: 400;
  --medium: 500;
  --bold: 700;
}

body {
  margin: 0;
  font-family: "Inter", sans-serif;
}

button.btn.btn-success {
  background: var(--primary-green);
  border: none;
}

.title {
  color: var(--primary-green);
  font-weight: 700;
  font-size: 5rem;
  text-align: center;
}

.banner {
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.banner-image {
  background-color: var(--secondary-green);
  border-radius: 20rem;
  padding: 1rem;
  width: 80%;
}
