span.navbar-brand {
  font-size: var(--font-md);
  font-weight: 700;
}

a.nav-link {
  font-size: var(--font-md);
  font-weight: 500;
  margin: 0 1rem;
}

.navbar-text {
  font-size: var(--font-md);
  font-weight: 500;
  margin: 0 1rem;
}

.navbar-text a {
  text-decoration: none;
  color: var(--bs-nav-link-color);
}

.menu {
  display: flex;
  align-items: center;
}

.menu-nav {
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 0.5rem;
}

.navbar {
  padding: 0;
  height: 10vh;
}

.menu-display {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
}

.menu-hidden {
  display: none !important;
}

.navbar-text a:hover {
  color: var(--bs-navbar-hover-color);
}

@media (min-width: 1400px) {
  .container-menu-grid {
    max-width: 1140px !important;
  }
}
